// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

$active :#ff6a00;
$mainBackground :#f1f2f7;// 最下层body背景颜色
$bodybg :#fff;// 实际层背景颜色

$border :#e8e8e8;
// ----------------------------------------------------        sidebar
$menuText:#bfcbd9;
$menuActiveText:#409EFF;
$subMenuActiveText:#f4f4f5; // https://github.com/ElemeFE/element/issues/12951

$menuBg:#304156;//菜单背景色
$menuHover:#263445;
$menuSelect:#304156;//一级菜单选中效果背景

$subMenuBg:#1f2d3d;// 下拉菜单背景
$subMenuHover:#001528;
$subMenuSelect:#26547d; //下拉菜单选中背景颜色
$sideBarWidth: 210px;
$logoBag:#1d2146;// logo  区域背景颜色

// -------------------------------------navbar
$navbag:#fff;

// ------------------------------------------------ 字体颜色
//表格内部字体颜色
$tableColor:#606266;
$titleColor:#333;

// --------------------------------------------------
$--color-primary:#409EFF;
$--background-color-base:#F5F7FA;
$--color-text-primary:#303133;
$--color-text-regular:#606266;
$--color-white:#FFFFFF;
$--color-black:#000000;
$--border-color-extra-light:#F2F6FC;
$--color-info:#909399;
$--color-text-secondary:#909399;
$--border-color-base:#DCDFE6;
$--border-color-lighter:#EBEEF5;
// ------------------------------------------------


// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}